.bg_color{
    background-color: #ffffff;
    height: 15vh;
    position: sticky;
    top:0;
    z-index: 100;
    margin-top:1rem;
    padding-top: 1.5rem;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo1{
    height: 4rem;
}
.heading{
    font-size: 2.8rem;
    margin-left: 0.7rem;
}
.side{
    font-size: 1.5rem;
}
.signup{
    border: 0.8px solid #f53938;
    margin:0 3rem;
    padding: 0.5rem 2.8rem;
    background-color: white;
    border-radius: 30px;
    color: #f53938;
    font-weight: bold;
}
.signup:hover{
    background-color: #f53938;
    color: whitesmoke;
}

@media screen and (max-width:700px) and (min-width:420px) {
    .heading{
        font-size: 2rem;
        margin-top: 0.1rem;
    }
    .logo1{
        height: 3rem;
    }
}